/* Global CSS Variables */
:root {
  --clr-primary-600: hsl(158, 36%, 20%);
  --clr-primary-500: hsl(158, 36%, 37%); 
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-500: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-fraunces: 'Fraunces', serif;
  --ff-montserrat: 'Montserrat', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

/* Custom CSS Setup */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  height: 100vh;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--ff-montserrat);
  font-size: var(--fw-medium);
  font-size: .875rem;
  color: var(--clr-neutral-500);
  background-color: var(--clr-secondary-200);

  display: grid;
  place-content: center;
  margin: 1em;
}

h1, h2, h3 {
  font-family: var(--ff-fraunces);
  font-size: 2rem;
  color: var(--clr-neutral-900);
  line-height: 1;
}

/* Utilities */
.flex {
  display: flex;
  flex-direction: row;
}

/* Other Styling */
.product__card {
  display: grid;
  background-color: var(--clr-neutral-100);
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 600px;

  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  --border-radius: .5rem
}

.product__subtitle {
  font-size: 0.8125rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product__details {
  padding: var(--content-padding);
  display: grid;
  row-gap: var(--content-spacing);
}

.product__price {
  justify-content: start;
  align-items: center;
  gap: var(--content-spacing);
}
.discount__price {
  font-family: var(--ff-fraunces);
  font-size: 2rem;
  color: var(--clr-primary-500);
}

.cart__button {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);

  border-radius: var(--border-radius);
  padding: 0.75em 1.5em;
  gap: 8px;

  font-weight: var(--fw-bold);
  font-size: 0.925rem;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  transition: background-color .15s;
}
.cart__button:is(:hover, :focus) {
  background-color: var(--clr-primary-600);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none; }

/* Media Queries */
@media (min-width: 620px) {
  .product__card {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}